* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
display: flex;
justify-content : center;
align-items: center;
overflow: hidden;
background: #ffc7f8;
font-family: 'DM Sans', sans-serif;
}

.blob{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #ff6ec7;
    filter: blur(120px);
    opacity: 0.5;
    border-radius: 50%;
    animation: float 10s infinite ease-in-out;
}

.blob1 {
    top: -100px;
    left: -100px;
}

.blob2 {
    bottom: -100px;
    right: -100px;
    background: #fd71be;
    animation-delay: 3s;
}

@keyframes float{
    0%, 100% { transform: translateY(0); }
50% { transform: translateY(-40px);}
}

.container {
    position: relative;
    padding-top: 70px;
   backdrop-filter: blur(20px);
    background: rgb(252, 177, 242);
    border-radius: 25px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ornamento {
    margin-bottom: 25px;
    width: 80px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 0 auto 15px;
    position: relative;
}

.ornamento::after {
    content: "";
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.nome {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;

    background: linear-gradient(90deg, #ff57e3, #ff00c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frase {
    
    color: #ff00c8;
    margin-bottom: 30px;
}

.btn {
    width: 250px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition: all 0.3s ease;
}

.btn svg {
    width: 18px;
    fill: white;
}

.btn-whatsapp {
    background: #ff74ed;
    color: #ffffff;
    border: 1px solid #ff6ec7;
}

.btn-whatsapp:hover {
    background: #ff6ec7;
    color: white;
    transform: translateY(-2px);
}
.btn-site {
    background-color: #664a59;
    color: white;
border: 2px solid white;
}

.btn-site:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

a {
    text-decoration: none;
    color: inherit;
}

.foto {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.foto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgba(255,255,255,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}